.main-header-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border-bottom: 2px solid #939393;
    height: 40px;
}

.menu-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    cursor: pointer;
    color: #739393;
}

.menu-item {
    display: block;
    padding: 10px 0px;
    font-family: 'Open Sans';
    font-weight: 700;
    cursor: pointer;
    transition: color 1s ease;
    color: #739393;
    height: 35px;
    margin-left: 2px;
    margin-right: 2px;
}

.menu-item:hover, .menu-item:active, .menu-item:focus {
    border-bottom: 3px solid lightseagreen;
    color: #537373;
}

.menu-item > a.active-nav {
    border-bottom: 3px solid lightseagreen;
    color: #537373;
}

a, a:hover, a:active, a:focus {
    all: unset;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

a.active-nav {
    color: #212121;
    margin-bottom: 3px;
    padding-bottom: 3px;
}

a.active-nav:hover {
    color: #537373;
    /* do border here */
}

a.active-nav:active,a.active-nav:focus {
    color: #537373;
    border-bottom: 3px solid lightseagreen;
    /* do border here */
}

.main-image {
    height: calc(100vh - 40px);
    width: 100vw;
    background-position: center top;
    background-position-x: 50%;
    background-position-y: 0%;
    background-size: cover;
    background-image: url('~/GalleryImages/dolmites.png');
}

.footer {
    height: 300px;
    background-color: gray;
}

.home-page-wrapper {
    overflow-x: hidden;
}