.main-header-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border-bottom: 2px solid #939393;
    height: 40px;
    background-color: #FAFAFA;
}

.menu-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    cursor: pointer;
    color: #739393;
}

.menu-item {
    display: block;
    padding: 10px 0px;
    font-family: 'Open Sans';
    font-weight: 700;
    cursor: pointer;
    transition: color 1s ease;
    color: #739393;
    height: 35px;
    margin-left: 2px;
    margin-right: 2px;
}

.menu-item:hover, .menu-item:active, .menu-item:focus {
    border-bottom: 3px solid lightseagreen;
    color: #537373;
}

.menu-item > a.active-nav {
    border-bottom: 3px solid lightseagreen;
    color: #537373;
}

a, a:hover, a:active, a:focus {
    all: unset;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

a.active-nav {
    color: #212121;
    margin-bottom: 3px;
    padding-bottom: 3px;
}

a.active-nav:hover {
    color: #537373;
}

a.active-nav:active,a.active-nav:focus {
    color: #537373;
    border-bottom: 3px solid lightseagreen;
}

.main-image {
    display: list-item;
    background-color: darkslategray;
    height: calc(100vh - 40px);
    width: 100vw;
    background-position: center top;
    background-position-x: 50%;
    background-position-y: 0%;
    background-size: cover;
    box-sizing: border-box;
    clear: both;
    left: 0px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    position: absolute;
    text-align: left;
    top: 0px;
}

.footer {
    height: 300px;
    background-color: gray;
}

.home-page-wrapper {
    overflow-x: hidden;
    height: calc(100vh - 40px);
    position: relative;
}

.img-carousel {
    position: absolute;
    padding: 0px;
}

.carousel-wrapper {
    clear: both;
    height: calc(100vh - 40px);
    overflow: hidden;
    position: relative;
}

.carousel-nav-button-wrapper {
    box-sizing: border-box;
    display: block;
    height: 0px;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    color: #FAFAFA;
    cursor: pointer;
}

.nav-arrow {
    cursor: pointer;
    height: 60px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 50vh;
    visibility: visible;
    width: 60px;
    z-index: 50;
    border: 2px solid #FAFAFA;
    border-radius: 5px;
    padding-top: 8px;
    margin: 0px 20px;
}

.prev {
    left: 0px;
    cursor: pointer;
}

.prev::before {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    content: '<';
    font-size: 30px;
    font-weight: 400;
    height: 56px;
    text-indent: -2px;
    width: 56px;
    cursor: pointer;
}

.next {
    right: 0px;
    cursor: pointer;
    margin-right: 40px;
    padding-left: 2px;
}

.next::before {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    content: '>';
    font-size: 30px;
    font-weight: 400;
    height: 56px;
    text-indent: 0px;
    width: 56px;
    cursor: pointer;
}

.home-page-wrapper:hover .carousel-nav-button-wrapper .nav-arrow {
    opacity: 1;
}


/* transition-delay: 0s;
transition-duration: 1s;
transition-property: all;
transition-timing-function: ease-out; */